body {
    background-color: rgb(184, 184, 184);
}
.nav__1{
    background-color:#494848;

}
.nav__1 h1{
    display: inline;
    color:white ;
}
.nav__1 input{
    display: inline;
    margin-right: 10px;
    margin-left: 60%;
    padding: 6px;
    }
#nav__2{
    background-color: rgb(94, 93, 93);
    padding: 5px;

}
#opcion{
 display: inline-block;
}
#links {
    display: inline-block;
}
#links a{
    color: #9bc0f5;
    text-decoration: none;
    margin-left: 10px; 
    margin-right: 10px;
}
#links a:hover{
    color: #edf5fc;
}
.nav__2 select{
    background-color: rgb(151, 151, 151);
    padding: 5px ;
    border-radius: 10px;
}
.nav__2 option{
    background-color: rgb(255, 255, 255);
    padding: 5px ;
}
.display__container img{
    height: 70vh;
    justify-content: space-evenly;
    min-width: 120px;
}
.mySlides {
    width: 100%;
    padding: 0px 10px;
    display: none;
    object-fit: contain;
    top:10px;
}
.button_black{
    color: white;
    background-color: black;
    
}
.display__left{
    padding: 15px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 10px;
    transform: translate(0%-50%);
    
}
.display__right{
    padding: 15px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    right: 10px;
    transform: translate(0%-50%);
}
#titulo__2{
    background-color:#494848;
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    margin:auto;
    margin-top: 5px;
}
.conteiner_foto{
    border: red solid 4px;
    width: 100%;
    height: auto;
    margin: auto;
}
.contenedor__1{
    display: inline-block;
    border: rgb(55, 10, 218) solid 4px;
    height: auto;
    margin: auto;
}
.contenedor__2{
    display: inline-block;
    border: rgb(13, 248, 111) solid 4px;
    height: auto;
    margin: auto;
   
}
.contenedor__3{
    display: inline-block;
    border: rgb(203, 236, 82) solid 4px;
    height: auto;
    margin: auto; 
}