body {
    background-color: rgb(184, 184, 184);
}
.nav__1{
    background-color:#494848;

}
.nav__1 h1{
    display: inline;
    color:white ;
}
.nav__1 input{
    display: inline;
    margin-right: 10px;
    margin-left: 60%;
    padding: 6px;
    }
#nav__2{
    background-color: rgb(94, 93, 93);
    padding: 5px;
    border :#ffffff solid;
}
#opcion{
 display: inline-block;
}
#links{
    display: inline-block;
    color: #659cee;
    text-decoration: none;
}

#link1 :hover  {
color: rgb(236, 244, 252);
margin-left: 10px; 
margin-right: 10px;
}
#link2 :hover {

color: rgb(236, 244, 252);
margin-left: 10px; 
margin-right: 10px;
}
#link3 :hover {
    
color: rgb(236, 244, 252);
margin-left: 10px; 
margin-right: 10px;
}



.nav__2 select{
    background-color: rgb(151, 151, 151);
    padding: 5px ;
    border-radius: 10px;
}

.nav__2 option{
    background-color: rgb(255, 255, 255);
    padding: 5px ;
}
.display__container img{
margin: auto;
}
.mySlides {
    width: 100%;
    display: none;
}
.button_black{
    color: white;
    background-color: black;
}
.display__left{
    padding: 15px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 0%;
    transform: translate(0%-50%);
}
.display__right{
    padding: 15px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    right: 0%;
    transform: translate(0%-50%);
}
.titulo__2{
    display: inline-block;
    margin-top: 10px;
    margin-left: 45%;
    margin-bottom:10px;
    background-color:#494848;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
}
.conteiner_foto{
    margin-left: 6% ;
    padding: 10px;
}
.contenedor__1{
    display: inline-block;
    border: white solid;
}
.contenedor__2{
    display: inline-block;
    border: white solid;
   
}
.contenedor__3{
    display: inline-block;
    border: white solid;
   
}