body {
    background-color: rgb(184, 184, 184);
}
.nav__1{
    background-color:rgb(73, 72, 72);

}
.nav__1 h1{
    display: inline;
    color:white ;
}
.nav__1 input{
    display: inline;
    margin-right: 10px;
    margin-left: 60%;
    padding: 6px;
    }
.nav__2{
    background-color: rgb(116, 116, 116);
    padding: 5px;
}
.nav__2 a{
    text-decoration: none;
color: rgb(79, 169, 248);
margin-left: 10px; 
margin-right: 10px;
}
.nav__2:hover > a{
    text-decoration: none;
color: rgb(236, 244, 252);
margin-left: 10px; 
margin-right: 10px;
}

.nav__2 select{
    background-color: rgb(151, 151, 151);
    padding: 5px ;
    border-radius: 10px;
}

.nav__2 option{
    background-color: rgb(255, 255, 255);
    padding: 5px ;
}