body {
    background-color: rgb(248, 245, 245);
}
.nav__1{
    background-color:#494848;

}
.nav__1 h1{
    display: inline;
    color:white ;
}
.nav__1 input{
    display: inline;
    margin-right: 10px;
    margin-left: 60%;
    padding: 6px;
    }
#nav__2{
    background-color: rgb(94, 93, 93);
    padding: 5px;

}
#opcion{
 display: inline-block;
}
#links {
    display: inline-block;
}
#links a{
    color: #9bc0f5;
    text-decoration: none;
    margin-left: 10px; 
    margin-right: 10px;
}
#links a:hover{
    color: #edf5fc;
}
.nav__2 select{
    background-color: rgb(151, 151, 151);
    padding: 5px ;
    border-radius: 10px;
}
.nav__2 option{
    background-color: rgb(255, 255, 255);
    padding: 5px ;
}
.slide_container{
    background-color: grey;
    
}
.display__container img{
    height: 70vh;
    justify-content: space-evenly;
    min-width: 120px;
}
.mySlides {
    width: 100%;
    padding: 0px 10px;
    display: none;
    object-fit: contain;
    top:10px;
}
.button_black{
    color: white;
    background-color: black;
    
}
.display__left{
    padding: 15px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    left: 10px;
    transform: translate(0%-50%);
    
}
.display__right{
    padding: 15px;
    position: absolute;
    border-radius: 15px;
    top: 50%;
    right: 10px;
    transform: translate(0%-50%);
}
#box__container{
    text-align: center;
    width: auto;
    height: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
#titulo__2{
    background-color:#494848;
    width: 300px;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    margin:auto;
    margin-top: 2px;
}
.conteiner_foto{
    margin: 10px;
    width: 100%;
    height: auto;
}
.contenedor__info{
    display: inline-block;
    border:#ffffff solid 1px;
    height: auto;
    text-align: left;
}
.titulo__h3{
    padding-bottom: 20px;
}
.descripcion{
    border: orangered solid 1px;
    padding-bottom: 80px;
    
}
.actualizacion{
    border: green solid 1px;
    background-color: #d1d1d1;
    padding-bottom: 40px;
}